/TranQuangQuan_DHTI15A5HN_221024/build/
/TranQuangQuan_261024/nbproject/private/
/TranQuangQuan_261024/build/
/TranQuangQuan_DHTI15A5HN_291024/nbproject/private/
/TranQuangQuan_DHTI15A5HN_291024/build/
/TranQuangQuan_DHTI15A5HN_05112024/nbproject/private/
/TranQuangQuan_DHTI15A5HN_05112024/build/
/XoaSP_TranQuangQuan/nbproject/private/
/TranQuangQuan_DHTI15A5HN_121124/nbproject/private/
/TranQuangQuan_DHTI15A5HN_121124/build/
/TranQuangQuan_DHTI15A5HN_21103100304/nbproject/private/
/TranQuangQuan_DHTI15A5HN_21103100304/build/
/TranQuangQuan_DHTI15A5HN_031224/nbproject/private/
/TranQuangQuan_DHTI15A5HN_031224/build/
/WebApplication1/nbproject/private/
/bai1/nbproject/private/
/bai1/build/
/bai2/nbproject/private/
/bai2/build/
/Bai3/nbproject/private/
/Bai3/build/
/Bai4/nbproject/private/
/Bai4/build/
/bai5/nbproject/private/
/bai5/build/
